<h1>New User Signup</h1>
<form action="/user/new" method="POST">
  <label for="username"></label>
  <input id="username"type="text" name="user[:username]" placeholder="Username">
  <label for="email"></label>
  <input id="email" type="email" name="user[:email]" placeholder="Email">
  <label for="password"></label>
  <input id="password" type="password" name="user[:password]" placeholder="Password">
  <input type="submit" value="Sign Up">
</form>
